<!-- <p>pokedex-card works!</p> -->

<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile *ngFor="let item of pokemons$ ">
    <mat-card-content (click)="abilities(item.name)">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-card-content>
  </mat-grid-tile>
</mat-grid-list>

<!-- <button mat-raised-button color="accent" *ngIf="pokemons$.previous !== null && pokemons$.previous !== '' " (click)="pagination(pokemons$.previous)">Previous</button>
<button mat-raised-button color="accent" *ngIf="pokemons$.next !== null && pokemons$.next !== '' " (click)="pagination(pokemons$.next)">Next</button> -->

