<form class="row g-3" [formGroup]="form">
  <div class="col-md-6 p-3">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="email" class="form-control" id="first_name" formControlName="first_name">
  </div>
  <div class="col-md-6 p-3">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" formControlName="last_name">
  </div>
  <div class="col-12 p-3">
    <label for="inputAddress" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="youremail@something.com" formControlName="email">
  </div>
  <div class=" col-12 input-group p-3">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <input type="file" class="form-control" id="avatar" formControlName="avatar">
  </div>
  <div class="col-12 p-3">
    <button class="btn btn-outline-danger float-right" type="submit" (click)="onCancel()">Cancel</button>

    <button type="submit" class="btn btn-outline-success float-right spacing-between" (click)="onSubmit()">Add</button>
  </div>
</form>
