<div class="container">
  <div ng-if="conteudoPokemon">
    <article>
      <h2 class="title">{{ conteudoPokemon.name }}</h2>
      <div class="teste">
        <owl-carousel-o [options]="customOptions" >
          <ng-template carouselSlide><img [src]="conteudoPokemon.sprites.front_default" alt="Front View" style="width: 71%; margin-left: 15%;"></ng-template>
          <ng-template carouselSlide><img [src]="conteudoPokemon.sprites.back_default" alt="Back View" style="width: 71%; margin-left: 15%;"></ng-template>
          <ng-template carouselSlide><img [src]="conteudoPokemon.sprites.front_shiny" alt="Front View Shiny" style="width: 71%; margin-left: 15%;"></ng-template>
          <ng-template carouselSlide><img [src]="conteudoPokemon.sprites.back_shiny" alt="Back View Shiny" style="width: 71%; margin-left: 15%;"></ng-template>

        </owl-carousel-o>
      </div>

        <h3 class="title">Abilities</h3>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let item of conteudoPokemon.abilities">
            <mat-expansion-panel-header (click)="descriptionAbility(item.ability.url)">
              <mat-panel-title>
                {{ item.ability.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ descriptionAbilities.effect_entries[1].effect }}</p>
          </mat-expansion-panel>

        </mat-accordion>

      </article>
    </div>
  </div>


