.title{
  padding: 5% 0;
}
h2{
  font-size: 50px;
}

h3{
  font-size: 45px;
}

article h2, h3, p{
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-panel-title{
  text-align: center;
}

table {
  width: 100%;
}
